.mainDiv {
    height: 100%;

}
.cardDiv {

    /*height: 300px;*/
    border-style: solid;
    margin-bottom: 20px;
    border-radius: 15px;
    border-color: gray;/*#1C8EF9;*/
    background-color: white;
}
.bookImageCard {
    height: 200px;
    width: 150px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
ln, li, ul {
    list-style-type: none;
}
.nameDivCard {
    margin-left: 150px;
    width: 300px;
    /*background-color: rebeccapurple;*/
}
.priceDivCard {
    margin-left: 200px;
    /*background-color: red;*/
}
.buttonViewMore {
    margin-left: -70px;
    background-color: white;/*#1C8EF9;*/
    /*border-style: none;*/
    border-color: gray;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.auth-wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    box-shadow: none;
}

.auth-inner {
    width: 1200px;
    height: 950px;
    margin: 90px auto 50px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: none;

}
.searchField {
    width: 600px;
    border-color: gray;
    border-radius: 5px;
    padding: 6px 12px;
}
.searchDiv {
    margin-left: 200px;
    margin-bottom: 30px;
}

.filters {
    top: 100px;
    left: 10px;
    position: fixed;
}

.categoriesDivBox {
    border-color: gray;
    border-radius: 15px;
    border-style: solid;
    padding: 6px 12px;
    background-color: lightgray;
}

.filterBox {
     display: inline;
     width: 15px;
     box-shadow: rgba(255, 255, 255, 255);
     margin: 5px;
 }


