@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.mainBox {
    size: 1000px;
    margin-left: 0px;
    background-size: 1000px;
    /*background-color: black;*/
    /*width: 450px;*/
    width: 450px;
    height: 570px;
    /*margin: auto;*/
    /*background: #ffffff;*/
   /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
    padding: 40px 55px 45px 55px;

    transition: all .3s;
}
body {
    width: 100%;
    height: 100%;
}
.auth-wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
}

.uth-inner {
   /* width: 1200px;*/
    width: 100%;
    height: 150%;
   /* margin: auto;*/
    margin-top: 90px;
    margin-bottom: 50px;
    background: white;
    left: 0;
    top: 0;
   /* left: 180px;*/
    position: absolute;
    /*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
    /*padding: 40px 55px 45px 55px;*/
    border-radius: 15px;
    /*transition: all .3s;*/
}
.toHide {
    width: 1200px;
    margin-top: 50px;
    margin-left: 180px;
    position: absolute;
    background-color: white;
}
.bookName {
    text-align: right;
    margin-right: 100px;
    /*background-color: greenyellow;*/
    width: 300px;
    font-family: 'Fira Sans', sans-serif;
}
.bookAuthor {
    text-align: left;
    /*left: -1000px;*/
    /*background-color: cornflowerblue;*/
    width: 700px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    margin-left: 150px;
    margin-top: 10px;
}
.nameDiv {
     text-align: left;
     left: -1000px;
    /*background-color: green;*/
 }
.bookImage {
    height: 100%;
    width: 100%;
}
.leftSide {
    /*background-color: greenyellow;*/
}
.rightSide {
    /*background-color: rebeccapurple;*/
    width: 500px;
    /*margin: auto;*/
    position: absolute;
    margin-left: 75px;
    margin-top: -300px;
}
.price {
    text-align: center;
    margin-left: 10px;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 30px
;
}
.number {
    margin-left: 70px;
    width: 80px;
    text-align: right;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
}
.buttonAdd {
    margin-left: 50px;
    background-color: white;/* #1C8EF9;*/
    /*border-style: none;*/
    border-color: gray;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}
.buttonAdd:active{
    background:gray;
}
.table1 {
    margin-bottom: 50px;
}
.categories {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.empty1 {
    height: 250px;
}
.descriptionDiv {
    margin-bottom: 50px;
    /*height: 500px;*/
}
.popup {
     /*align-self: center;*/
     height: 200px;
     width: 500px;
     background-color: white;
     margin-top: 200px;
     margin-left: 500px;
     text-align: center;

    border-style: solid;
    border-color: gray;
    border-radius: 15px;
 }
.popupH2 {
    /*align-self: center;*/
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;


    line-height: 100px;
    text-align: center;

}
.buttonClose {
    margin-top: 20px;
    background-color: white;/* #1C8EF9;*/
    /*border-style: none;*/
    border-color: gray;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}